* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
body input {
  font-size: 32px;
  width: 48px;
  height: 48px;
}